@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet');







html {
        scroll-behavior: smooth;
       /*Comenta la línea (o dale el valor 'auto' a scroll behavior )
       para probar la diferencia con y sin scroll suavizado*/





    }



* {
margin: 0;
padding: 0;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;

}

body {
font-family: Playfair Display, serif;
color:#303346;
background-color: #FFF5F5;
margin-left: auto;
margin-right: auto;
}

nav {
  position: fixed;
  background-color: #FFF5F5;
  padding-bottom: 20px;
  display: inline-block;
  width: auto;
  padding-left: 106px;
}




/*menu*/

.inicio {
margin: auto;
max-width:  1280px;

}


.menu {
margin: auto;
height: 96px;
background-color: black;
margin: auto;
max-width: 1280px;

}

.textos {
overflow: hidden;
margin: auto;
max-width:  1280px;
margin-top: 60px;
margin-bottom: 0px;

}


.ahome {
font-size: 18px;
font-weight: bold;
color:#303346;
overflow: hidden;
background-color: #FFF5F5;


}


.inicio .menu {
font-size: 20px;
font-weight: bold;
font-style: italic;
color:black;
overflow: hidden;
background-color: #FFF5F5;
margin: auto;

}

.inicio .menu .menuinicio {
float: left;
display: inline-block;
background-color: #FFF5F5;
margin-left: 0px;
padding-right: 185px;


}

 .autoras {
float: right;
margin-left: 106px;
text-align: right;
margin-right: 100px;






}

.inicio .menu li {
list-style:none;
display: inline-block;
padding-right: 20px;
padding-top: 20px;
display: inline-block;






}

.inicio .menu a {
text-decoration: none;
color:#303346;
}

.inicio .menu a:hover {
color: #303346;
}

.inicio .menu a:hover {
color: #989898;
}




/*home*/

.home {
overflow: hidden;
background-image: url("https://raw.githubusercontent.com/FranciscaGortari/taller/master/fondo.png");
max-height: 560px;
margin-top: 100px;
margin-bottom: 0px;



}



.home a {
text-decoration: none;
color:#303346;
font-weight: bold;
}

}

.home a:hover
{
color: black;
}

.home a:hover {
color: #989898;
}





/*infohome*/

.home .infohome {
float: left;
margin-left: 106px;
margin-top: 230px;
width: 40%;
margin-bottom: 80px;
}


.home .infohome .textos .ahome{
width: 100%;
display: inline-block;
padding-top: 40px;
}



.titulo {
  display: inline-block;
  overflow: visible

}





p{
font-size: 500;
padding-bottom: 35px;




}






.autora {
background-color: #FFF5F5;
width: 38%;
float: left;
display: inline-block;
padding-left: 106px;


}

.autora a {
text-decoration: none;
color:#303346;
font-weight: bold;}

.autora a:hover {
color: black;
}

.autora a:hover {
color: #989898;
}


.autora p {
  padding-top: 60px;
  border-bottom: solid 1px #303346;
  padding-bottom: 20px;
  display: inline-block;
  font-style: italic;
    font-weight: 500;
}






.texto {
background-color: #FFF5F5;
width: 31%;
float: right;
display: inline-block;
padding-right: 0px;
padding-bottom: 20px;
padding-left: 60px;

}

.texto h1 {
  font-size: 20px;
  padding-bottom: 20px;
  border-bottom: solid 1px #303346;
  padding-top: 23px;
}



.texto p {
  font-size: 15px;
  padding-top: 40px;
  line-height: 30px ;
  font-weight: 500;

}







h1 {
font-size: 80px;
padding: 0;
}



h2 {
font-size: 36px;
margin-top: -20px;
margin-left: 70px;
float: left;
display: inline-block;
padding-bottom: 40px;
}


.footer {
  display: inline-block;
  overflow: hidden;
  width: 100%;
  height: 96px;
  background-color: white;
  margin: auto;
  text-align: center;
  font-size: 14px;

}

.infofooter {
  margin: auto;
max-width:  1280px;
display: block;

}

.infofooter p {
padding-top: 40px;

}

.imgfooter {
width: 30px;
padding-left: 10px;
padding-top: 10px;

}



.arriba {

  max-width: 1280px;
  margin: auto;
  text-align: right;
  padding-right: 86px;
  margin-bottom: 100px;

}

.form-consulta
{
border-top: solid 1px #303346;
margin: auto;
padding-top: 60px;
max-width:  1280px;
margin-top: 100px;
display: block;
font-family: 'Playfair Display';
padding-left: 106px;
padding-right: 106px;

}
.campo-form {
width:100%;
height:36px;
margin-top: 20px;
margin-bottom: 30px;
padding-left:6px;
 box-sizing: border-box; border-radius:3px; border:0; font-family: 'Playfair Display', sans-serif; font-size:1em;}

label span {color: #f00}

textarea {min-height: 150px!important;}

.btn-form {
  font-family: 'Playfair Display';
  font-weight: bold;
  font-size: 18px;
  display: block;
  margin: auto;
  border:0;
  background: #FFF5F5;
  border: solid 1px;
  height: 46px;
  padding: 0 20px;
  border-radius: 0px;
  color:#303346;
  text-decoration: none;
  letter-spacing: 1px;
  margin-bottom: 60px;


  }







.btn-form:hover {color: #989898;}
