@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet');


html {
        scroll-behavior: smooth;
       /*Comenta la línea (o dale el valor 'auto' a scroll behavior )
       para probar la diferencia con y sin scroll suavizado*/
    }



* {
margin: 0;
padding: 0;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;

}

body {
font-family: Playfair Display, serif;
color:#303346;
background-color: #FFF5F5;
margin-left: auto;
margin-right: auto;
}

nav {
  position: fixed;
  background-color: #FFF5F5;
  padding-bottom: 20px;
  display: inline-block;
}




/*menu*/

.inicio {
margin: auto;
max-width:  1280px;

}


.menu {
margin: auto;
width: 100%

}

.textos {
overflow: hidden;
margin: auto;
max-width:  1280px;
margin-top: 60px;
margin-bottom: 0px;

}


.ahome {
font-size: 18px;
font-weight: bold;
color:#303346;
overflow: hidden;
background-color: #FFF5F5;

}


.inicio .menu {
font-size: 20px;
font-weight: bold;
font-style: italic;
color:#303346;
overflow: hidden;
background-color: #FFF5F5;

}

.inicio .menu .menuinicio {
float: left;
display: inline-block;
background-color: #FFF5F5;
margin-left: 106px;


}

.inicio .menu .autoras {
float: right;
margin-left: 106px;


}

.inicio .menu li {
list-style:none;
display: inline-block;
padding-right: 20px;
padding-top: 20px;
display: inline-block;





}

.inicio .menu a {
text-decoration: none;
color:#303346;
}

.inicio .menu a:hover {
color: black;
}

.inicio .menu a:hover {
color: #989898;
}



/*home*/

.home {
overflow: hidden;
background-image: url("https://raw.githubusercontent.com/FranciscaGortari/taller/master/fondo.png");
max-height: 560px;
margin-top: 150px;
margin-bottom: 260px;



}



.home a {
text-decoration: none;
color:#303346;

}

.home a:hover
{
color: black;
}

.home a:hover {
color: #989898;
}





/*infohome*/

.home .infohome {
  overflow: visible;
float: left;
margin-left: 106px;
margin-top: 270px;
width: 40%;
}


.home .infohome .textos .ahome{
width: 100%;
display: inline-block;
padding-top: 40px;
}



.titulo {
  display: inline-block;
  overflow: visible

}





p{
font: 36px;
padding-bottom: 35px;



}






.autora {
background-color: #FFF5F5;
width: 40%;
float: left;
display: inline-block;
margin-left: 106px;


}

.autora a {
text-decoration: none;
color:#303346;
font-weight: bold;}

.autora a:hover {
color: black;
}

.autora a:hover {
color: #989898;
}


.autora p {
  padding-top: 60px;
  border-bottom: solid 1px #303346;
  padding-bottom: 20px;
  display: inline-block;
  font-style: italic;
}






.texto {
background-color: #FFF5F5;
width: 25%;
float: right;
display: inline-block;
padding-right: 60px;
padding-bottom: 20px;


}

.texto h1 {
  font-size: 20px;
  padding-bottom: 20px;
  border-bottom: solid 1px #303346;
  padding-top: 23px;
}



.texto p {
  font-size: 18px;
  padding-top: 40px;

}







h1 {
font-size: 95px;
padding: 0;
}



h2 {
font-size: 36px;
margin-top: -25px;
margin-left: 70px;
float: left;
display: inline-block;
padding-bottom: 40px;
}


.footer {
  display: inline-block;
  overflow: hidden;
  width: 100%;
  height: 96px;
  background-color: white;
  margin: auto;
  text-align: center;
  font-size: 14px;

}

.infofooter {
  margin: auto;
max-width:  1280px;
display: block;

}

.infofooter p {
padding-top: 40px;

}

.imgfooter {
width: 30px;
padding-left: 10px;
padding-top: 10px;

}



.arriba {

  max-width: 1280px;
  margin: auto;
  text-align: right;
  padding-right: 86px;
  margin-bottom: 100px;

}





